[submodule "extern/ImGuizmo"]
	path = extern/ImGuizmo
	url = https://github.com/ixlm/ImGuizmo.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/ixlm/spdlog.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/ixlm/rapidjson.git
[submodule "extern/mathfu"]
	path = extern/mathfu
	url = https://github.com/ixlm/mathfu.git